<a href="https://colab.research.google.com/github/Savi1234gaba/data/blob/main/Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# The list of numbers
list_of_numbers = [1, 2, 4, 6, 11, 14, 17, 20]


# Let us first initialize a list where we will be appending the squares in each iteration

squared_numbers = []

for number in list_of_numbers:
  # Use the append method to add the numbers one bye one to our list
  squared_numbers.append(number**2)
  # print(squared_numbers)

  print(f"The list of squared numbers is {squared_numbers}")

The list of squared numbers is [1]
The list of squared numbers is [1, 4]
The list of squared numbers is [1, 4, 16]
The list of squared numbers is [1, 4, 16, 36]
The list of squared numbers is [1, 4, 16, 36, 121]
The list of squared numbers is [1, 4, 16, 36, 121, 196]
The list of squared numbers is [1, 4, 16, 36, 121, 196, 289]
The list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]

In [4]:
# Getting the list of squares using list comprehension
squared_numbers = [number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

In [5]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [6]:
# Writing list comprehension using conditionals
even_squared_numbers = [number**2 for number in list_of_numbers if number%2==0]
print(even_squared_numbers)

[4, 16, 36, 196, 400]

In [7]:
# Writing list comprehension using conditionals
odd_squared_numbers = [number**2 for number in list_of_numbers if number%2!=0]
print(odd_squared_numbers)

[1, 121, 289]

In [8]:
# Writing list comprehension using conditionals
odd_squared_numbers = [number**2 if number%2!=0 else number**3 for number in list_of_numbers ]
print(odd_squared_numbers)

[1, 8, 64, 216, 121, 2744, 289, 8000]

In [9]:
list(range(4))

[0, 1, 2, 3]

In [11]:
list_of_numbers = []

for num1 in range(4):
  for num2 in range(3):
    # print(num1,num2)
    list_of_numbers.append(num2)

print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [12]:
# We can write it in a sligthly different way
list_of_numbers = [num2 for num1 in range(4) for num2 in range(3)]
print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [13]:
list_of_numbers = [num2**2 for num2 in range(3) for num1 in range(3)]
print(list_of_numbers)

[0, 0, 0, 1, 1, 1, 4, 4, 4]

In [14]:
sample = [[]]
len(sample)

sample[0]

[]

In [17]:
list_of_lists = []

for num1 in range(4):
  # Append an empty sublist inside the list
  list_of_lists.append([])  # [[0]] , list_of_lists[1]
  # print(list_of_lists)

for num2 in range(3):
  # Append the elements within the sublist
  list_of_lists[num1].append(num2)  # list_of_lists[0]

print(list_of_lists)

[[], [], [], [0, 1, 2]]

In [18]:
# Using list comprehension we can write the same thing
list_of_lists = [[num2 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [19]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in dang"

words_by_walter = heisenberg_quote.split(' ')
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'dang']

In [20]:
heisenberg_quote.split('t')

['I',
 ' ceases ',
 'o exis',
 ' wi',
 'hou',
 " me. No, you clearly don'",
 " know who you're ",
 'alking ',
 'o, so le',
 ' me clue you in. I am no',
 ' in dang']

In [21]:
# Let u store the first letter of each word in anaother list

first_letters = []

for word in words_by_walter:
  first_letters.append(word[0])

# Print the first_letters list
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd']

In [22]:
# The same task but now with list comprehension
first_letters = [word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd']

In [23]:
heisenberg_quote.split(',')

['It ceases to exist without me. No',
 " you clearly don't know who you're talking to",
 ' so let me clue you in. I am not in dang']

In [24]:
my_string = 'Alphabet Inc.'

list_of_characters = [char for char in my_string]
print(list_of_characters)

['A', 'l', 'p', 'h', 'a', 'b', 'e', 't', ' ', 'I', 'n', 'c', '.']

In [25]:
# Suppose we have a tuple of days
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

tuple(day for day in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [27]:
# Let us create a tuple where we want to remove the word 'day' from each tuple element
days_without_day = tuple([day[:-3] for day in days])
print(days_wihout_day)

NameError: name 'days_wihout_day' is not defined

In [28]:
# Using a for loop
first_letters = set()
for word in words_by_walter:
  first_letters.add(word[0])

print(first_letters)

{'l', 'I', 'w', 'k', 's', 'i', 'c', 'a', 'y', 'm', 'd', 'N', 'n', 'e', 't'}

In [30]:
# Using set comprehension
first_letters = {word[0] for word in words_by_walter}
print(first_letters)

{'l', 'I', 'w', 'k', 's', 'i', 'c', 'a', 'y', 'm', 'd', 'N', 'n', 'e', 't'}

In [32]:
country_city_list = [('India','New Delhi'),('Australia','Canberra'),('United States','Washington DC'),('England','London')]

# Lets convert the list of tuples to a dictionary
country_city_dict = dict(country_city_list)
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

In [33]:
# The conventional for loop approach
flipped = {}
for country, city in country_city_dict.items():
  flipped[city] = country_city_dict

print(flipped)

{'New Delhi': {'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}, 'Canberra': {'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}, 'Washington DC': {'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}, 'London': {'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}}

In [34]:
# The new dictionary comprehension
flipped = {city:country for country, city in country_city_dict.items()}
print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [37]:
# We can further add conditionals
flipped = { city : country for country, city in country_city_dict.items() if country[0] in ['E','A']}
print(flipped)

{'Canberra': 'Australia', 'London': 'England'}

In [38]:
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}