<a href="https://colab.research.google.com/github/Savi1234gaba/data/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
heisenberg_quote = "It ceases to exist without me. No you clearly don't know who you're talking to, so let me clue you in . I am in dang"

# Using the list comprehension, we can do the above task in this way
words_by_walter = heisenberg_quote.split(' ')

first_letters = [word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', '.', 'I', 'a', 'i', 'd']

In [25]:
def extract_first_letters(sentence):
  '''
  This is a function takes a sentence as an input and returns
  the list of first letters of each word
  '''

  #  Step 1 : Get the list of words in this sentence
  words_in_sentence = sentence.split(' ')

  # Step 2 : Write a list comprehension to extract the first letters
  first_letters = [word[0] for word in words_in_sentence]

  # Step 3 : Return the output list first_letters
  return first_letters


print(extract_first_letters(heisenberg_quote))

NameError: name 'heisenberg_quote' is not defined

In [3]:
starwars_quote = "May the force be with you."
first_letters_starwars = extract_first_letters(starwars_quote)
print(first_letters_starwars)

['M', 't', 'f', 'b', 'w', 'y']

In [5]:
def factorial(num):
  '''
  Function for calculating factorial of a number
  '''
  result=1
  # Step 1 : Write an if statement to print a message if the input number is negative
  if num < 0:
    print("Factorial is not defined for negative numbers.")

  # Step 2: Write the elif statement to calculate the factorial
  elif num > 0:
    for i in range(1, num+1):
      result = result * i
    print(f"The factorial of {num} is {result}.")

  # Step 3: Write the else statement to take care of the input 0
  else:
    result=1
    print('factorial of 0 is ',result)

  # Step 4 : Return the output variable result


factorial(5)

The factorial of 5 is 120.

In [6]:
# Now let us define a list of numbers for which we want to calculate the factorials
list_of_numbers = [3, 5, 8, 12, 4, 6]

# We can write a list comprehension for the same task
factorial_list = [factorial(number) for number in list_of_numbers if number%2!=0]
print(factorial_list)

The factorial of 3 is 6.
The factorial of 5 is 120.
[None, None]

In [8]:
def assignQuarter(user_date):
  '''
  This function prints the quarter for a given date string
  '''

  # Step 1 : Extract the year and month from the input date string
  date_year = user_date[:4]
  date_month = user_date[5:7]

  # Step 2 : Store the quarter value in a string variable named quarter
  if (date_month >= '01') & (date_month <='03'):
    quarter = date_year + '-Q1'
  elif (date_month >= '04') & (date_month <='06'):
    quarter = date_year + '-Q2'
  elif (date_month >= '07') & (date_month <='09'):
    quarter = date_year + '-Q3'
  else:
    quarter = date_year + '-Q4'

  # Step 3 : Print the message you want to display to the user. Here we are not returning anything
  print(f'The corresponding quarter for the date {user_date} is {quarter}')
  # return quarter


sample_date = '2020-07-01'
date_quarter = assignQuarter(sample_date)
print(date_quarter)

The corresponding quarter for the date 2020-07-01 is 2020-Q3
None

In [9]:
my_quarter = assignQuarter(sample_date)

The corresponding quarter for the date 2020-07-01 is 2020-Q3

In [10]:
print(my_quarter)

None

In [11]:
assignQuarter
def check_even_or_odd(num):
  '''
  This function checks whether a number is odd or even and then returns the corresponding string
  '''
  print(f'Given number is {num}')

  # Step 1 : Check if the number is even. If it is return 'even'
  if num%2 == 0:
    return 'even'

  # Step 2 : Else just return 'odd'

  return 'odd'


is_even_odd = check_even_or_odd(10)
print(is_even_odd)

Given number is 10
even

In [12]:
heights = [172,175,170,168,170,200]

def list_append(my_list, elem):
  '''
  This function appends an element to the list
  '''
  # Step 1 : Add the element to the list
  new_list = my_list + [elem]

  # Step 2 : Return the new_list
  return new_list

print(heights)

[172, 175, 170, 168, 170, 200]

In [13]:
list_append(heights,190)

[172, 175, 170, 168, 170, 200, 190]

In [14]:
print(heights)

[172, 175, 170, 168, 170, 200]

In [15]:
list_append(heights, elem = 40)

[172, 175, 170, 168, 170, 200, 40]

In [16]:
print(heights)

[172, 175, 170, 168, 170, 200]

In [17]:
heights.append(60)

print(heights)

[172, 175, 170, 168, 170, 200, 60]

In [18]:
def experiment():
  global x
  x = 50

  return x


x = 25


experiment()

50

In [19]:
experiment()

50

In [20]:
x

50

In [23]:
def new_experiment():

  x = 50

  return x

x = 40

x

40

In [24]:
new_experiment()

50