<a href="https://colab.research.google.com/github/Savi1234gaba/data/blob/main/Tuples%2C%20Sets%20%26%20Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a tuple
my_tuple = (1,'a',3)

print(my_tuple)

(1, 'a', 3)

In [ ]:
type(my_tuple)

tuple

In [ ]:
# Can also mix object types
another_tuple = ('one',2,4.53,'asbc')

# Show
another_tuple

('one', 2, 4.53, 'asbc')

In [ ]:
my_list = [1]

type(my_list)

list

In [ ]:
my_tuple = (1,)

type(my_tuple)

tuple

In [ ]:
my_tuple = 1,2,3

type(my_tuple)

tuple

In [ ]:
from types import MethodDescriptorType
my_tuple = (1,2,3,4)

len(my_tuple)

4

In [ ]:
print(another_tuple)

('one', 2, 4.53, 'asbc')

In [ ]:
# Grab the element at index 0, which is the FIRST element
another_tuple[0]

'one'

In [ ]:
# Grab the element at index 3, which is the FOURTH element
another_tuple[3]

'asbc'

In [ ]:
# Grab the element at the index -1, which is the LAST element
another_tuple[-1]

'asbc'

In [ ]:
# Grab the element at the index -3, which is the THIRD LAST element
another_tuple[-3]

2

In [ ]:
# Print our list
print(another_tuple)

('one', 2, 4.53, 'asbc')

In [ ]:
# Grab the elements starting from index 1 and everything past it
another_tuple[1:3]

(2, 4.53)

In [ ]:
# Grab everything starting from index 2
another_tuple[2:]

(4.53, 'asbc')

In [ ]:
# Grab everyhting before the index 4
another_tuple[:6]

('one', 2, 4.53, 'asbc')

In [ ]:
# Grab everything
another_tuple

('one', 2, 4.53, 'asbc')

In [ ]:
# Grab the LAST FOUR elements of the list
another_tuple[-4:]

('one', 2, 4.53, 'asbc')

In [ ]:
# Check len just like a list
len(another_tuple)

4

In [ ]:
random_tuple = (1,5,6,2)

sorted(random_tuple)

[1, 2, 5, 6]

In [ ]:
my_tuple =(1,2,3,4,5,6,1,1,2)

# Use .index to enter a value and return the index
my_tuple.index(2)

1

In [ ]:
# Use .count to count the number of times a value appears
my_tuple.count(2)

2

In [ ]:
my_tuple.count(1)

3

In [ ]:
print(my_tuple)

(1, 2, 3, 4, 5, 6, 1, 1, 2)

In [ ]:
my_tuple[0]

1

In [ ]:
# Our modified list
my_list

[1]

In [ ]:
# Create an empty set
empty_set = set()

type(empty_set)

set

In [ ]:
# Create a non empty set within curly braces
non_empty_set = {1,6,4,'abc'}

type(non_empty_set)

set

In [ ]:
my_object = {}

type(my_object)

dict

In [ ]:
my_set = set()

type(my_set)

set

In [ ]:
# Create a list with repeats
my_list = [1,1,2,2,3,4,5,6,1,1]

# Cast as set to get unique values
my_set = set(my_list)

my_set

{1, 2, 3, 4, 5, 6}

In [ ]:
# A set cannot have mutable items
my_set = {1,2,(3,4)}

In [ ]:
# But we cannot have tuples as set elements, they are immutable
my_set = {1,2,(2,3)}

my_set

{(2, 3), 1, 2}

In [ ]:
my_set

{(2, 3), 1, 2}

In [ ]:
# Show
my_set

{(2, 3), 1, 2}

In [ ]:
# Add a different element
my_set.add(2)

# Show
print(my_set)

{(2, 3), 1, 2}

In [ ]:
# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4, (2, 3)}

In [ ]:
non_empty_set

{1, 4, 6, 'abc'}

In [ ]:
# Iniatialize sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A

{1, 2, 3, 4, 5}

In [ ]:
# Also denoted by the operator |
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Also denoted by the operator &
A & B

{4, 5}

In [ ]:
# Also denoted by the operator -
A - B

{1, 2, 3}

In [ ]:
B - A

{6, 7, 8}

In [ ]:
A^B

{1, 2, 3, 6, 7, 8}

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
marvel_dict = {'Name':'Thor','Place':'Asgard','Weapon' : 'Hammer', 1:2, 3 : 'power', 'alibies' : ['Ironman','Captain America'],'abc' : {1:2}}

# Call values by their key
marvel_dict['Place']

'Asgard'

In [ ]:
type(marvel_dict)

dict

In [ ]:
marvel_dict['Name']

'Thor'

In [ ]:
marvel_dict['Weapon']

'Hammer'

In [ ]:
marvel_dict['alibies']

['Ironman', 'Captain America']

In [ ]:
type(marvel_dict['abc'])

dict

In [ ]:
marvel_dict.keys()

dict_keys(['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc'])

In [ ]:
list(marvel_dict.keys())

['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc']

In [ ]:
print(marvel_dict)

{'Name': 'Thor', 'Place': 'Asgard', 'Weapon': 'Hammer', 1: 2, 3: 'power', 'alibies': ['Ironman', 'Captain America'], 'abc': {1: 2}}

In [ ]:
list(marvel_dict.values())

['Thor',
 'Asgard',
 'Hammer',
 2,
 'power',
 ['Ironman', 'Captain America'],
 {1: 2}]

In [ ]:
# Get the keys and their corresponding values
list(marvel_dict.items())

[('Name', 'Thor'),
 ('Place', 'Asgard'),
 ('Weapon', 'Hammer'),
 (1, 2),
 (3, 'power'),
 ('alibies', ['Ironman', 'Captain America']),
 ('abc', {1: 2})]

In [ ]:
marvel_dict.get('Place')

'Asgard'

In [ ]:
marvel_dict.get('Random','Not Found')

'Not Found'

In [ ]:
employee_dict = {'Name':'Sanket','Skills':['Python','Machine Learning','Deep Learning'],'Band':6.0,'Promotion Year':[2016,2018,2020]}

len(employee_dict.keys())

4

In [ ]:
# Let's call items from the dictionary
employee_dict['Skills']

['Python', 'Machine Learning', 'Deep Learning']

In [ ]:
# Can call an index on that value
employee_dict['Skills'][0]

'Python'

In [ ]:
# Can then even call methods on that value
employee_dict['Skills'][0].upper()

'PYTHON'

In [ ]:
# Add a new key

employee_dict['Designation'] = 'Senior Data Scientist'


employee_dict

{'Name': 'Sanket',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist'}

In [ ]:
employee_dict.update({'Salary':'2,000,000'})

employee_dict

{'Name': 'Sanket',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

In [ ]:
employee_dict['Name']

'Sanket'

In [ ]:
# Subtract 123 from the value
employee_dict['Name'] = employee_dict['Name'] + ' ' + 'Raj'


# Check
employee_dict

{'Name': 'Sanket Raj',
 'Skills': ['Python', 'Machine Learning', 'Deep Learning'],
 'Band': 6.0,
 'Promotion Year': [2016, 2018, 2020],
 'Designation': 'Senior Data Scientist',
 'Salary': '2,000,000'}

In [1]:
country_list = ['India','Australia','United States','England']
city_list = ['New Delhi' 'Canberra', 'Washington DC','London']

country_city_list = list(zip(country_list,city_list))

country_city_list

[('India', 'New DelhiCanberra'),
 ('Australia', 'Washington DC'),
 ('United States', 'London')]

In [2]:
dict(country_city_list)

{'India': 'New DelhiCanberra',
 'Australia': 'Washington DC',
 'United States': 'London'}

In [5]:
# Let us create a list of paired tuples
country_city_tuples = [('India','New Delhi'),('Australia','Canberra'),('United States','Washington DC'),('England','London')]

country_city_dict = dict(country_city_tuples)

country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC',
 'England': 'London'}

In [6]:
country_city_dict.pop('England')

'London'

In [7]:
country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC'}

In [8]:
element_to_pop = country_city_dict.pop('England')

element_to_pop

KeyError: 'England'

In [9]:
country_city_dict

{'India': 'New Delhi',
 'Australia': 'Canberra',
 'United States': 'Washington DC'}

In [10]:
name = ["Manjeet", "Nikhil", "Shambhavi"]
marks = [40, 50, 60]

mapped = zip(name, marks)

mapped

In [11]:
print(dict(mapped))

{'Manjeet': 40, 'Nikhil': 50, 'Shambhavi': 60}